extends ../layout
block content
  h1 Clients
    a.btn.btn-primary.btn-sm(href="/clients/new") Create new
  if clients.length
    table.table.table-striped
      thead
        tr
          th(style="width:70px") ID
          th Name
          th(style="width:200px")
      tbody
        each client in clients
          tr
            td= ('00000' + client.id).slice(-5)
            td
              a(href="/clients/" + client.id + "/edit")= client.name
            td
              form.form-inline.pull-right(action="/clients/" + client.id method="post")
                input(type="hidden" name="_method" value="delete")
                button.btn.btn-danger.btn-xs(type="submit") Delete
              a.btn.btn-info.btn-xs.pull-right(href="/clients/" + client.id + "/appointments" type="submit") View appointments
  else
    .alert.alert-info No clients
