ul.nav.navbar-nav
  if user
    if user.role == 'admin'
      li: a(href="/services") Services
      li: a(href="/workers") Workers
      li: a(href="/appointments") Appointments
      li: a(href="/clients") Clients
      li: a(href="/reports") Reports
    if user.role == 'basic'
      li: a(href="/clients") Clients
      li: a(href="/appointments") Appointments
  if !user || user.role == 'client'
    a.btn.btn-default.navbar-btn.navbar-left(href="/schedule-appointment") Schedule appointment
