extends ../layout
block content
  h1 Workers
    a.btn.btn-primary.btn-sm(href="/workers/new") Create new
  if workers.length
    table.table.table-striped
      thead
        tr
          th(style="width:70px") ID
          th Name
          th(style="width:200px")
      tbody
        each worker in workers
          tr
            td= ('00000' + worker.id).slice(-5)
            td
              a(href="/workers/" + worker.id + "/edit")= worker.name
            td
              form.form-inline.pull-right(action="/workers/" + worker.id method="post")
                input(type="hidden" name="_method" value="delete")
                button.btn.btn-danger.btn-xs(type="submit") Delete
              a.btn.btn-info.btn-xs.pull-right(href="/workers/" + worker.id + "/appointments" type="submit") View appointments
  else
    .alert.alert-info No workers
