extends ../layout
block content
  h1 Barbershop
  p.
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc pellentesque, elit vel commodo
    molestie, magna risus lobortis dui, at aliquet ipsum neque in risus. Nunc malesuada ante eu magna
    lacinia, ut viverra nisl elementum. Duis eros ligula, condimentum sed luctus nec, varius
    bibendum odio. Nullam laoreet augue vitae eleifend scelerisque. Donec adipiscing enim vehicula
    dictum condimentum. Proin sollicitudin est diam. Integer tincidunt quam quis massa congue, vel
    blandit nisi pellentesque. Quisque non ligula fermentum, malesuada tortor eu, rutrum ipsum. Nulla
    libero justo, fermentum id aliquam sit amet, pretium quis odio. Mauris eu nisi erat. Nunc vitae
    augue nec lorem sollicitudin rhoncus. Aliquam vel enim porttitor, iaculis quam id, scelerisque augue.
    Etiam dolor erat, tempor et convallis vel, posuere in purus. Curabitur id convallis turpis. Integer
    sagittis ut arcu dictum lobortis. Curabitur nec viverra eros.
  p.
    Sed scelerisque augue ac sagittis aliquet. Vestibulum dui est, pellentesque aliquet malesuada
    imperdiet, placerat sed sapien. Duis sollicitudin euismod sem semper aliquet. Aliquam imperdiet
    aliquam elit. Vestibulum rhoncus gravida velit at lacinia. Cras non laoreet velit. Proin at metus
    sed mauris cursus condimentum sed placerat justo. Maecenas eu vehicula massa. In lacinia tristique
    libero, quis condimentum eros auctor at. Aliquam risus eros, lobortis at sollicitudin id, aliquet
    nec massa. Aliquam sit amet eros ac lorem viverra luctus eget in eros. Donec aliquet, ipsum eget
    ullamcorper dictum, neque magna egestas libero, adipiscing tincidunt arcu nisl in elit.
